:root {
    --primary-bg-color: #081b29;
    --secondary-bg-color: #112e42;

    --primary-text-color: #ededed;
    --primary-color: #00abf0;

    --header-bg-color: rgb(154,205,50);
}


@media (max-width: 1200px){
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px){
    header {
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .home {
        padding: 0 4%;
    }

    footer {
        padding: 2rem 4%;
    }
}

@media (max-width: 768px){

    .header {
        background: var(--primary-bg-color);
    }
    #menu-icon {
        display: block;
    }

    nav {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--primary-bg-color);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        transition: .25s ease;
        transition-delay: .25s;
        z-index: 1;
    }

    .navbar.active {
        left: 0;
    }

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--primary-bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0;
    }

    .navbar.active .active-nav {
        left: 0;
        transition-delay: .25s;
    }

    nav a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
}